name: Test Action
on: [push]

jobs:
  get-num-square:
    runs-on: ubuntu-latest #작업이 최신 Ubuntu 가상 환경에서 실행되도록 지정합니다.
    name: Returns the number square
    steps: #steps 섹션에서는 워크플로우에 포함된 작업 단계를 정의합니다.
      - name: Checkout
        uses: actions/checkout@v2 #actions/checkout@v2를 사용하여 코드 저장소를 체크아웃합니다.
      - name: Fetch num squared
        #id를 사용하면, 워크플로우 내에서 다른 작업 단계 간에 출력 값이나 상태를 
        #전달하고 참조할 수 있습니다. 이를 통해 워크플로우가 여러 단계에서 데이터를 공유하고 처리할 수 있게 됩니다.
        id: get_square 
        uses: ./ # 루트 디렉토리에서 액션을 사용하도록 지정
        # with 절을 사용하면, 작업 단계에서 GitHub Action으로 데이터를 전달하고 공유할 수 있습니다. 
        #이를 통해 워크플로우에서 사용자 정의 입력 값을 처리할 수 있습니다.
        with:
          num: 11 #입력값 num을 11로 설정
      - name: Print the square
        run: echo "${{ steps.get_square.outputs.num_squared }}" #이전 단계 py파일 에서 계산된 num_squared 값 출력
